<% if (!user) { %>
    <footer class="mt-auto">
        <p class="text-center" id="copyright">&copy; 0000 Foodship. All rights reserved.</p>
    </footer>
    <% } %>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/6eb72bfc06.js" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</body>
</html>