<% if (!user) { %>
    <footer class="mt-auto">
        <p class="text-center" id="copyright">&copy; 0000 Foodship. All rights reserved.</p>
    </footer>
    <% } %>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script async src="https://kit.fontawesome.com/6eb72bfc06.js" crossorigin="anonymous"></script>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/main.js"></script>
</body>
</html>