<%- include('partials/header') -%>



<!--  -->
<div class="container">
  <div class="row justify-content-center mt-5">
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>

<%- include('partials/footer') -%>
