<%- include('partials/header') -%>

<main class="container-fluid mt-5 text-light">
    <div class="row align-self-center mt-5">
        <h1 class="slogan text-center h1">creating friendships over food</h2>
    </div>
    <div class="row align-self-center justify-content-center mt-5">
        <a href="/learn" class="btn btn-primary w-auto small-caps fw-semibold">learn more</a>
    </div>
</main>

<%- include('partials/footer') -%>