<%- include('partials/header') -%>

<main class="container-fluid mt-auto text-light">
    <div class="row align-self-center">
        <h2 class="slogan text-center">Find Your Table</h2>
    </div>
    <div class="row align-self-center justify-content-around mt-5">
        <a href="/signup" class="col-3 btn btn-primary">Create account</a>
    </div>
</main>
    

<%- include('partials/footer') -%>