<%- include('partials/header') -%>
<main class="container text-tertiary d-flex justify-content-center">
    <div>
        <header class="py-3 text-center">
            <h1 class="display-4">Welcome to Foodship!</h1>
            <p class="lead">Bringing people together over shared meals and conversations.</p>
          </header>
        
          <div class="container my-5">
            <section>
                <h2>What is Foodship?</h2>
                <p>Foodship is your gateway to meaningful connections over delicious meals. Whether you're looking to meet new people, explore local restaurants, or engage in thought-provoking conversations, we've got you covered.</p>
              </section>
            
              <section class="mt-4">
                <h2 class="h3">How It Works</h2>
                <ol>
                    <li><strong>Sign up:</strong> Create an account and set up your profile.</li>
                    <li><strong>Set your preferences:</strong> Tell us about your food preferences and interests to help us match you with the best restaurants and people.</li>
                    <li><strong>Choose the time:</strong> Pick a day and time that works for you.</li>
                    <li><strong>Get matched:</strong> We'll match you with people who share your interests and a restaurant that suits everyone's preferences.</li>
                    <li><strong>Join the fun:</strong> Meet up, enjoy a meal, and dive into curated conversations to spark new connections.</li>
                </ol>
              </section>
            
              <section class="mt-4">
                <h2 class="h3">Why Choose Foodship?</h2>
                <p>Unlike other apps, Foodship fosters genuine connections through shared interests and engaging conversations—all in the comfort of your favorite local restaurants.</p>
              </section>
            
              <section class="mt-4">
                <h2 class="h4">Ready to Start Your Journey?</h2>
                <p ><a href="/signup" class="btn btn-primary btn-lg">Join Foodship Today</a> and discover the magic of food and friendship.</p>
              </section>
          </div>

    </div>

</main>

<%- include('partials/footer') -%>