:root,
[data-bs-theme="light"] {
  --bs-primary: #ae9152 !important; /* Gold */
  --bs-secondary: #353745 !important; /* Charcoal */
  --bs-success: #85edbe !important; /* Aqua Green */
  --bs-info: #4ed7d9 !important; /* Aqua Blue */
  --bs-warning: #ddbb4d !important; /* Updated warning color */
  --bs-danger: #dc143c !important; /* Crimson for danger */
  --bs-light: #bfd9d7 !important; /* Mint */
  --bs-dark: #353745 !important; /* Charcoal */
  --bs-primary-bg: #ae9152 !important; /* Gold */
  --bs-secondary-bg: #987239 !important; /* Olive Gold */
  --bs-tertiary-bg: #85edbe !important; /* Aqua Green */
  --bs-light-bg: #d3dbe5 !important; /* Light Gray */
  --bs-white: #ffffff !important; /* White */
  --bs-black: #000000 !important; /* Black */
  --bs-primary-rgb: 174, 145, 82 !important; /* Gold */
  --bs-secondary-rgb: 53, 55, 69 !important; /* Charcoal */
  --bs-success-rgb: 133, 237, 190 !important; /* Aqua Green */
  --bs-info-rgb: 78, 215, 217 !important; /* Aqua Blue */
  --bs-warning-rgb: 221, 187, 77 !important; /* Light Gold */
  --bs-danger-rgb: 220, 20, 60 !important; /* Crimson */
  --bs-light-rgb: 191, 217, 215 !important; /* Mint */
  --bs-dark-rgb: 53, 55, 69 !important; /* Charcoal */
  --bs-primary-text-emphasis: #8a7245 !important; /* Darker gold */
  --bs-secondary-text-emphasis: #2b2d34 !important; /* Darker charcoal */
  --bs-success-text-emphasis: #68c6a2 !important; /* Darker aqua green */
  --bs-info-text-emphasis: #3db8bc !important; /* Darker aqua blue */
  --bs-warning-text-emphasis: #b38f3f !important; /* Darker warning gold */
  --bs-danger-text-emphasis: #a50f2e !important; /* Darker crimson */
  --bs-light-text-emphasis: #97b2af !important; /* Darker mint */
  --bs-dark-text-emphasis: #2a2b2e !important; /* Darker charcoal */
  --bs-primary-bg-subtle: #d6c7a4 !important; /* Lighter  Gold */
  --bs-secondary-bg-subtle: #5c6570 !important; /* Lighter Charcoal  */
  --bs-success-bg-subtle: #a3e0d5 !important; /* Lighter Aqua Green  */
  --bs-info-bg-subtle: #82e0e4 !important; /* Lighter Aqua Blue  */
  --bs-warning-bg-subtle: #f6e3a2 !important; /* Lighter Updated warning color */
  --bs-danger-bg-subtle: #f8b7bd !important; /* Lighter Crimson for danger */
  --bs-light-bg-subtle: #d9eeeb !important; /* Lighter Mint */
  --bs-dark-bg-subtle: #7b8285 !important; /* Lighter Charcoal  */
  --bs-primary-border-subtle: #d6c7a4 !important; /* Lighter than Gold */
  --bs-secondary-border-subtle: #5c6570 !important; /* Lighter than Charcoal */
  --bs-success-border-subtle: #a3e0d5 !important; /* Lighter than Aqua Green */
  --bs-info-border-subtle: #82e0e4 !important; /* Lighter than Aqua Blue */
  --bs-warning-border-subtle: #f6e3a2 !important; /* Lighter than Updated warning color */
  --bs-danger-border-subtle: #f8b7bd !important; /* Lighter than Crimson for danger */
  --bs-light-border-subtle: #d9eeeb !important; /* Lighter than Mint */
  --bs-dark-border-subtle: #7b8285 !important; /* Lighter than Charcoal */
  --bs-white-rgb: 255, 255, 255 !important;
  --bs-black-rgb: 0, 0, 0 !important;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important;
  --bs-body-font-family: var(--bs-font-sans-serif) !important;
  --bs-body-font-size: 1rem !important;
  --bs-body-font-weight: 400 !important;
  --bs-body-line-height: 1.5 !important;
  --bs-body-color: #bfd9d7 !important; /* Mint */
  --bs-body-color-rgb: 191, 217, 215 !important; /* Mint */
  --bs-body-bg: #353745 !important; /* Charcoal */
  --bs-body-bg-rgb: 53, 55, 69 !important; /* Charcoal */
  --bs-emphasis-color: #97b2af !important;
  --bs-emphasis-color-rgb: 138, 114, 69 !important;
  --bs-secondary-color: #ae9152 !important;
  --bs-secondary-color-rgb: 151, 178, 175 !important;
  --bs-secondary-bg: #e9ecef !important;
  --bs-secondary-bg-rgb: 191, 217, 215 !important;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5) !important;
  --bs-tertiary-color-rgb: 33, 37, 41 !important;
  --bs-tertiary-bg: #f8f9fa !important;
  --bs-tertiary-bg-rgb: 248, 249, 250 !important;
  --bs-heading-color: inherit !important;
  --bs-link-color: #0d6efd !important;
  --bs-link-color-rgb: 13, 110, 253 !important;
  --bs-link-decoration: none !important;
  --bs-link-hover-color: #bfd9d7 !important;
  --bs-link-hover-color-rgb: 191, 217, 215 !important;
  --bs-code-color: #d63384 !important;
  --bs-highlight-color: #212529 !important;
  --bs-highlight-bg: #fff3cd !important;
  --bs-border-width: 1px !important;
  --bs-border-style: solid !important;
  --bs-border-color: #97b2af !important;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175) !important;
  --bs-border-radius: 1.5rem !important;
  --bs-border-radius-sm: 0.25rem !important;
  --bs-border-radius-lg: 0.5rem !important;
  --bs-border-radius-xl: 1rem !important;
  --bs-border-radius-xxl: 2rem !important;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl) !important;
  --bs-border-radius-pill: 50rem !important;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
  --bs-focus-ring-width: 0.25rem !important;
  --bs-focus-ring-opacity: 0.25 !important;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25) !important;
  --bs-form-valid-color: #198754 !important;
  --bs-form-valid-border-color: #198754 !important;
  --bs-form-invalid-color: #dc3545 !important;
  --bs-form-invalid-border-color: #dc3545 !important;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(191, 217, 215, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


.btn {
  --bs-btn-padding-x: 1.5rem !important;
  --bs-btn-padding-y: 0.75rem !important;
}

.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23BFD9D7'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}

.btn-primary {
  --bs-btn-color: #353745 !important; /* Charcoal */
  --bs-btn-bg: #ae9152 !important; /* Gold */
  --bs-btn-border-color: #ae9152 !important; /* Gold */
  --bs-btn-hover-color: #353745 !important; /* Charcoal */
  --bs-btn-hover-bg: #987239 !important; /* Olive Gold */
  --bs-btn-hover-border-color: #987239 !important; /* Olive Gold */
  --bs-btn-focus-shadow-rgb: 174, 145, 82 !important; /* Gold */
  --bs-btn-active-color: #353745 !important; /* Charcoal */
  --bs-btn-active-bg: #ae9152 !important; /* Gold */
  --bs-btn-active-border-color: #ae9152 !important; /* Gold */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.5) !important;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn-secondary {
  --bs-btn-color: #bfd9d7 !important; /* Mint */
  --bs-btn-bg: #353745 !important; /* Charcoal */
}

.btn-outline-light {
  --bs-btn-color: #97b2af !important;
  --bs-btn-border-color: #97b2af !important;
  --bs-btn-hover-bg: #97b2af !important;
  --bs-btn-hover-border-color: #97b2af !important;
  --bs-btn-focus-shadow-rgb: 151, 178, 175 !important;
  --bs-btn-active-bg: #97b2af !important;
  --bs-btn-active-border-color: #97b2af !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #97b2af !important;
  --bs-btn-disabled-border-color: #97b2af !important;
}

.chat-file-upload {
  --bs-dropdown-min-width: 25rem !important;
}

.form-control::file-selector-button {
  background-color: var(--bs-primary) !important;
  color: var(--bs-secondary) !important;
}

.navbar {
  --bs-navbar-color: rgba(var(--bs-body-color-rgb)) !important;
  --bs-navbar-toggler-border-color: rgba(var(--bs-body-color-rgb), 0.15) !important;
  --bs-navbar-hover-color: rgba(var(--bs-secondary-color-rgb), 0.8) !important;
}

.link-primary:focus,
.link-primary:hover {
  color: RGBA(191, 217, 215, var(--bs-link-opacity, 1)) !important;
}
/*
.landing-page {
  background: url(https://res.cloudinary.com/rza/image/upload/v1746496088/bg.webp) no-repeat center/cover !important;
}
*/


.group-card {
  background-color: #2f313e;
}

.modal-body {
  max-height: 70vh;
}

i {
  color: #bfd9d7;
}

.fa-arrow-right {
  color: #4ed7d9;
}

.fa-arrow-left {
  color: #dc143c;
}

.fa-circle-question {
  color: #b38f3f
}

.fa-calendar-check {
  color: #85edbe;
}

.x-mark,
.x-mark-offcanvas {
  display: none; /* Initially hide the .xmark */
}

.group:hover .x-mark,
.group:hover .x-mark-offcanvas {
  display: inline-block !important;
  cursor: pointer !important;
}

.group-name {
  padding: 0.5em 1em !important;
}

.message-content {
  padding: 0 2.2em !important;
}

.border-bottom {
  border-color: #292a2f !important;
}

.user-card {
  background-color: #292a2f;
}

.member-length,
.createdAt {
  font-size: 0.7rem;
  color: #97b2af;
}

.group-chat-list{
  height: 80vh !important;
  scrollbar-color: #2f313e #2f313e;
}

.chat-box {
  height: 90vh !important;
  scrollbar-color: #353745 #353745;
}

/* For most modern browsers */
::-webkit-scrollbar {
  width: 3px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: #353745; /* Your desired color for the scrollbar thumb */
}
::-webkit-scrollbar-track {
  background-color: #353745; /* Your desired color for the track */
}

.group-chat-list::-webkit-scrollbar{
  width: 3px; /* Adjust scrollbar width */
  background-color: #2f313e;
}

 .group-chat-list::-webkit-scrollbar-thumb, .group-chat-list::-webkit-scrollbar-track {
  background-color: #2f313e; /* Your desired color for the track */
}

.message-image {
  display: block; /* Ensures proper layout */
  max-width: 100%; /* Prevents images from overflowing */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 10px;
}

.landscape {
  max-height: 300px; /* Example maximum height */
}

.portrait {
  max-height: 534px; /* Example maximum width */
}

.calender-header {
  color: var(--bs-primary) !important;
}