/* CSS file or within a <style> tag in your HTML/EJS */
.logo {
    width: 50%; /* Default size */
    
    height: auto;
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 30%; /* Adjust for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      width: 40%; /* Adjust for even smaller screens */
    }
  }
  