:root,[data-bs-theme=light] {
  --bs-primary: #AE9152 !important; /* Gold */
  --bs-secondary: #353745 !important; /* Charcoal */
  --bs-success: #85EDBE !important; /* Aqua Green */
  --bs-info: #4ED7D9 !important; /* Aqua Blue */
  --bs-warning: #DDBB4D !important; /* Updated warning color */
  --bs-danger: #dc143c !important; /* Crimson for danger */
  --bs-light: #BFD9D7 !important; /* Mint */
  --bs-dark: #353745 !important; /* Charcoal */
  --bs-primary-bg: #AE9152 !important; /* Gold */
  --bs-secondary-bg: #987239 !important; /* Olive Gold */
  --bs-tertiary-bg: #85EDBE !important; /* Aqua Green */
  --bs-light-bg: #D3DBE5 !important; /* Light Gray */
  --bs-white: #FFFFFF !important; /* White */
  --bs-black: #000000 !important; /* Black */
  --bs-primary-rgb: 174, 145, 82 !important; /* Gold */
  --bs-secondary-rgb: 53, 55, 69 !important; /* Charcoal */
  --bs-success-rgb: 133, 237, 190 !important; /* Aqua Green */
  --bs-info-rgb: 78, 215, 217 !important; /* Aqua Blue */
  --bs-warning-rgb: 221, 187, 77 !important; /* Light Gold */
  --bs-danger-rgb: 220, 20, 60 !important; /* Crimson */
  --bs-light-rgb: 191, 217, 215 !important; /* Mint */
  --bs-dark-rgb: 33, 37, 41 !important; /* Dark */  
  --bs-primary-text-emphasis: #052c65 !important;
  --bs-secondary-text-emphasis: #2b2f32 !important;
  --bs-success-text-emphasis: #0a3622 !important;
  --bs-info-text-emphasis: #055160 !important;
  --bs-warning-text-emphasis: #664d03 !important;
  --bs-danger-text-emphasis: #58151c !important;
  --bs-light-text-emphasis: #495057 !important;
  --bs-dark-text-emphasis: #495057 !important;
  --bs-primary-bg-subtle: #cfe2ff !important;
  --bs-secondary-bg-subtle: #e2e3e5 !important;
  --bs-success-bg-subtle: #d1e7dd !important;
  --bs-info-bg-subtle: #cff4fc !important;
  --bs-warning-bg-subtle: #fff3cd !important;
  --bs-danger-bg-subtle: #f8d7da !important;
  --bs-light-bg-subtle: #fcfcfd !important;
  --bs-dark-bg-subtle: #ced4da !important;
  --bs-primary-border-subtle: #9ec5fe !important;
  --bs-secondary-border-subtle: #c4c8cb !important;
  --bs-success-border-subtle: #a3cfbb !important;
  --bs-info-border-subtle: #9eeaf9 !important;
  --bs-warning-border-subtle: #ffe69c !important;
  --bs-danger-border-subtle: #f1aeb5 !important;
  --bs-light-border-subtle: #e9ecef !important;
  --bs-dark-border-subtle: #adb5bd !important;
  --bs-white-rgb: 255, 255, 255 !important;
  --bs-black-rgb: 0, 0, 0 !important;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important;
  --bs-body-font-family: var(--bs-font-sans-serif) !important;
  --bs-body-font-size: 1rem !important;
  --bs-body-font-weight: 400 !important;
  --bs-body-line-height: 1.5 !important;
  --bs-body-color: #BFD9D7 !important;
  --bs-body-color-rgb: 191, 217, 215 !important;
  --bs-body-bg: #fff !important;
  --bs-body-bg-rgb: 255, 255, 255 !important;
  --bs-emphasis-color: #000 !important;
  --bs-emphasis-color-rgb: 0, 0, 0 !important;
  --bs-secondary-color: rgba(33, 37, 41, 0.75) !important;
  --bs-secondary-color-rgb: 33, 37, 41 !important;
  --bs-secondary-bg: #e9ecef !important;
  --bs-secondary-bg-rgb: 233, 236, 239 !important;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5) !important;
  --bs-tertiary-color-rgb: 33, 37, 41 !important;
  --bs-tertiary-bg: #f8f9fa !important;
  --bs-tertiary-bg-rgb: 248, 249, 250 !important;
  --bs-heading-color: inherit !important;
  --bs-link-color: #0d6efd !important;
  --bs-link-color-rgb: 13, 110, 253 !important;
  --bs-link-decoration: underline !important;
  --bs-link-hover-color: #0a58ca !important;
  --bs-link-hover-color-rgb: 10, 88, 202 !important;
  --bs-code-color: #d63384 !important;
  --bs-highlight-color: #212529 !important;
  --bs-highlight-bg: #fff3cd !important;
  --bs-border-width: 1px !important;
  --bs-border-style: solid !important;
  --bs-border-color: #dee2e6 !important;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175) !important;
  --bs-border-radius: 0.375rem !important;
  --bs-border-radius-sm: 0.25rem !important;
  --bs-border-radius-lg: 0.5rem !important;
  --bs-border-radius-xl: 1rem !important;
  --bs-border-radius-xxl: 2rem !important;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl) !important;
  --bs-border-radius-pill: 50rem !important;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
  --bs-focus-ring-width: 0.25rem !important;
  --bs-focus-ring-opacity: 0.25 !important;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25) !important;
  --bs-form-valid-color: #198754 !important;
  --bs-form-valid-border-color: #198754 !important;
  --bs-form-invalid-color: #dc3545 !important;
  --bs-form-invalid-border-color: #dc3545 !important;
}

[data-bs-theme=dark]{
  color-scheme:dark;
  --bs-body-color:#dee2e6 !important;
  --bs-body-color-rgb:222,226,230 !important;
  --bs-body-bg:#212529 !important;
  --bs-body-bg-rgb:33,37,41 !important;
  --bs-emphasis-color:#fff !important;
  --bs-emphasis-color-rgb:255,255,255 !important;
  --bs-secondary-color:rgba(222, 226, 230, 0.75) !important;
  --bs-secondary-color-rgb:222,226,230 !important;
  --bs-secondary-bg:#343a40 !important;
  --bs-secondary-bg-rgb:52,58,64 !important;
  --bs-tertiary-color:rgba(222, 226, 230, 0.5) !important;
  --bs-tertiary-color-rgb:222,226,230 !important;
  --bs-tertiary-bg:#2b3035 !important;
  --bs-tertiary-bg-rgb:43,48,53 !important;
  --bs-primary-text-emphasis:#6ea8fe !important;
  --bs-secondary-text-emphasis:#a7acb1 !important;
  --bs-success-text-emphasis:#75b798 !important;
  --bs-info-text-emphasis:#6edff6 !important;
  --bs-warning-text-emphasis:#ffda6a !important;
  --bs-danger-text-emphasis:#ea868f !important;
  --bs-light-text-emphasis:#f8f9fa !important;
  --bs-dark-text-emphasis:#dee2e6 !important;
  --bs-primary-bg-subtle:#031633 !important;
  --bs-secondary-bg-subtle:#161719 !important;
  --bs-success-bg-subtle:#051b11 !important;
  --bs-info-bg-subtle:#032830 !important;
  --bs-warning-bg-subtle:#332701 !important;
  --bs-danger-bg-subtle:#2c0b0e !important;
  --bs-light-bg-subtle:#343a40 !important;
  --bs-dark-bg-subtle:#1a1d20 !important;
  --bs-primary-border-subtle:#084298 !important;
  --bs-secondary-border-subtle:#41464b !important;
  --bs-success-border-subtle:#0f5132 !important;
  --bs-info-border-subtle:#087990 !important;
  --bs-warning-border-subtle:#997404 !important;
  --bs-danger-border-subtle:#842029 !important;
  --bs-light-border-subtle:#495057 !important;
  --bs-dark-border-subtle:#343a40 !important;
  --bs-heading-color:inherit !important;
  --bs-link-color:#6ea8fe !important;
  --bs-link-hover-color:#8bb9fe !important;
  --bs-link-color-rgb:110,168,254 !important;
  --bs-link-hover-color-rgb:139,185,254 !important;
  --bs-code-color:#e685b5 !important;
  --bs-highlight-color:#dee2e6 !important;
  --bs-highlight-bg:#664d03 !important;
  --bs-border-color:#495057 !important;
  --bs-border-color-translucent:rgba(255, 255, 255, 0.15) !important;
  --bs-form-valid-color:#75b798 !important;
  --bs-form-valid-border-color:#75b798 !important;
  --bs-form-invalid-color:#ea868f !important;
  --bs-form-invalid-border-color:#ea868f !important;
}

.btn-primary{
  --bs-btn-color:#BFD9D7;
  --bs-btn-bg:#353745;
  --bs-btn-border-color:#353745;
  --bs-btn-hover-color:#353745;
  --bs-btn-hover-bg:#BFD9D7;
  --bs-btn-hover-border-color:#BFD9D7;
  --bs-btn-focus-shadow-rgb:49,132,253;
  --bs-btn-active-color:#fff;
  --bs-btn-active-bg:#0a58ca;
  --bs-btn-active-border-color:#0a53be;
  --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color:#fff;
  --bs-btn-disabled-bg:#0d6efd;
  --bs-btn-disabled-border-color:#0d6efd
}

.main {
  min-height: 75vh !important;
  position: relative !important;
  z-index: 1 !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  padding: 20px !important;
  border-radius: 10px !important;
  text-align: center !important;
}

.landing-page {
  background-image: url('../imgs/bg.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100vh !important;
  width: 100% !important;
  position: relative !important;
  top: 0 !important;
  left: 0 !important; 
  z-index: -1 !important;
  color: var(--bs-light) !important;
}

.offcanvas-fullscreen {
  width: 100%!important;
  height: 100%!important;
  max-width: none!important;
  top: 0!important;
}



